<!DOCTYPE html>
<html>
  <head>
    <title>Magic Search by #1</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="views/css/base.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script type="text/javascript" src="views/js/search.js"></script>
  </head>
  <body class="bg-image">
      <div id="content" class="text-center">
        <form id="searchForm" role="form" onSubmit="">
          <input type="text" id="query" class="search" ref="text"/>
        </form>
      </div>
      <div>
        <ul class="list-group" id="resultList">
        </ul>
      </div>
  </body>

</html>
