<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Magic Search by #1</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom styles for this template -->
    <link href="views/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="views/slider/css/slider.css">
    <!-- <link rel="stylesheet" href="views/css/base.css" /> -->
    <link rel="icon" type="image/png" href="views/images/logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="views/js/search.js"></script>
  </head>
  <body>
    <div class="site-wrapper">
      <!-- <div id="content" class="text-center">
        <form id="searchForm" role="form" onSubmit="">
          <input type="text" id="query" class="search" ref="text"/>
        </form>
      </div> -->
      
      <section class="part-top table">
          <div class="table-cell">
            <img class="img-responsive center-block" id="logo" src="views/images/logo.png" alt="logo"/>
          </div>
      </section>
      <section class="part-middle table">
        <div class="container center_div">
         <form class="form-inline" id="searchForm" role="form" onSubmit="">
            <div class="form-group">
              <label for="query">Requête : </label>
              <input type="text" class="form-control" id="query" placeholder="Hexa#1" ref="text">
              </br></br>
              <div id="numOfLink"></div>
              <p class="volume" title="Set number of pages"><span class="volumeBar"></span></p>
              </br></br>
              <button type="submit" class="btn btn-default">Rechercher</button>
            </div>
          </form>
        </div>
      </section>
      <section class="part-bottom table">
        <div class="container">
          <ul class="list-group" id="resultList">
          </ul>
        </div>
      </section>

    </div>
  </body>

</html>
